* {
    padding: 0;
    margin: 0;
}

html {
    background-color: grey;
    font-family: "Courier New", Courier, monospace;
}

/* Header with dropdowns */

header {
    display: flex;
    background-color: antiquewhite;
}

#logoImg {
    width: 10%;
    margin: 0.5rem;
}

#dropdownContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dropdown {
    width: 100%;
    height: 100%;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dropdown:hover {
    background-color: aliceblue;
    cursor: pointer;
}
.dropdown:hover > .dropdownItems {
    display: flex;
}

.dropdownItems {
    width: 100%;
    background-color: aliceblue;
    display: none;
    flex-direction: column;
    text-decoration: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
}

.dropdownItem {
    width: 100%;
    padding: 1rem 0;
    list-style-type: none;
    text-align: center;
    background-color: antiquewhite;
}

.dropdownItem:hover {
    background-color: bisque;
    cursor: pointer;
}



/* Image slider */
#sliderContainer {
    height:90vh;
    width:100vw;
}

.sliderImage {
    max-width: 100%;
    display: flex;
}
